In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/krishnatejbhat/Downloads/LinkedInScrape Backup June 5.csv")

In [27]:
df1 = df.drop_duplicates()
len(df1)

13128

In [24]:
df2 = df1.groupby("Company").size().reset_index(name='no_of_employees')
df2
df2.sort_values(by='no_of_employees', ascending=False)

        Company  no_of_employees
7          Meta             2096
3        Google             2059
1         Apple             1935
8     Microsoft             1666
0        Amazon             1588
5      LinkedIn              749
4         Intel              700
11   Salesforce              490
2     Bloomberg              489
12        Tesla              485
9       Netflix              380
10       OpenAI              272
6   Mayo Clinic              219

In [25]:
df1.to_csv("MLE_all_companies_sample.csv")